<nav class="navbar">
<mat-toolbar style="background-color: rgb(56, 56, 56);">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="padding-left: 20px;"> ISSUE TRACKING SYSTEM</span>
    <span class="example-spacer"></span>
    
    <a routerLink="/home">Home</a>
    <a routerLink="/register">Register Issuses</a>
    <a routerLink="/dashboard">Dashboard</a>


    

    
     <button (click)="Logout()" style="border-radius: 50%;background-color: red;color: aliceblue;" >
      LogOut
    </button>
   
  </mat-toolbar>
</nav>